<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ClassTrack{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" type="image/png"
        href="https://cdn3.iconfinder.com/data/icons/design-thinking-3d/256/ClipBoard.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="position-fixed w-100 h-100">
        <div class="w-100 h-100" style="background: linear-gradient(135deg, #007bff 0%, #a8edea 100%);"></div>
    </div>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>