{% extends "app/base.html" %}
{% block title %}ClassTrack - Register{% endblock %}
{% block body_class %}d-flex align-items-center justify-content-center min-vh-100{% endblock %}
{% block content %}
{% load static %}
<div class="col-12 col-sm-8 col-md-6 col-lg-4">
  <div class="card shadow-lg border-0">
    <div class="card-body p-4">
      <div class="text-center mb-4">
        <img src="{% static 'images/icon.png' %}" alt="Logo"
          style="width:60px;" class="mb-2">
        <h2 class="fs-4 text-primary mb-1">Create your account!</h2>
        <p class="text-muted mb-0">Platform for managing attendance for various occasions 🚀</p>
      </div>
      <form action="/register" method="post" autocomplete="off">
        {% csrf_token %}
        <!-- Email -->
        <div class="form-group mb-2">
          <label for="email" class="sr-only">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
        </div>
        <!-- First Name -->
        <div class="form-group mb-2">
          <label for="fname" class="sr-only">First Name</label>
          <input type="text" class="form-control" id="fname" placeholder="First name" name="fname" required>
        </div>
        <!-- Last Name -->
        <div class="form-group mb-2">
          <label for="lname" class="sr-only">Last Name</label>
          <input type="text" class="form-control" id="lname" placeholder="Last name" name="lname" required>
        </div>
        <!-- Password -->
        <div class="form-group mb-2">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        </div>
        <!-- Confirm Password -->
        <div class="form-group mb-2">
          <label for="c_password" class="sr-only">Confirm Password</label>
          <input type="password" class="form-control" id="c_password" placeholder="Confirm Password" name="c_password"
            required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
      </form>
      <div class="text-center mt-3">
        <span class="not-member small">
          Already have an account?
          <a href='/login' class="text-primary font-weight-bold">Log In</a>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}